@font-face {
    font-family:imported ;
    src: url(../../Satoshi-Variable.ttf);
}
.image-portion{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../Images/image\ 8.png);
    background-size: cover;
}

.bg-img{
    width: 100%;
    height: 100vh;    
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content:center;
    color: aliceblue;

}
.bg h1{
    font-family: imported;
    font-size: clamp(32px,5vw,64px);
    font-weight: 700;
}
.bg1{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.cg{
    width:1000px;
    font-size: clamp(14px,3vw,28px);
    font-weight: 400;
    font-family: imported;
    text-align: center;
}
.ag1{
    display: flex;
    flex-direction: row;
    gap:5px;
    align-items: center;
    justify-content: center;
   
}
.ag1 span{
    font-size: clamp(32px,5vw,64px);
    font-weight: 700;
    font-family: imported;
   letter-spacing: 3px;
}
.ag1 img{
    width: clamp(60px,3vw,120px);
}
@media screen and (max-width:740px){
    .bg-img{
        height: 40vh;
    }
    .ag img{
        width: 30px;
        height: 30px;
    }
    .ag1 span{
        font-size: 24px;
        
    }
    .bg h1{
        font-size: 24px;
    }
    .cg{
      width: 350px;
        font-size: 10px;
       text-align: center;
    }
   
}