@font-face {
    font-family: imported;
    src: url(../../Satoshi-Variable.ttf);
}


.forth{
    width: 100%;
    height: 50vh;
    color: aliceblue;
}
.forth-top{

    display: flex;
    height: 20vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.forth-top h1{
    font-size: 32px;
    font-family: imported;
    font-weight: 700;
}
.forth-top p{
    font-size: 16px;
    font-family: imported;
    font-weight: 400;
    text-align: center;
    width: 400px;
}
.forth-bottom{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

@media screen and (max-width:740px) {

    .forth-bottom{
        
        display: flex;
        height: 30vh;
        flex-direction: column;
       
        align-items: center;
        justify-content: space-around;
        
    }
    .forth-top h1{
        font-size: 24px;
        
    }
    .forth-top p{
        font-size: 12px;
        width: 300px;
    }
}